body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f0f0f0;
    overflow-x: hidden;
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.image-carousel {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.image-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-carousel img.active {
    opacity: 1;
}

.logo-info-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    align-items: center;
    padding: 40px 20px;
    justify-content: center;
    margin-left: -3%;
}

.hero-logo {
    height: 330px;
    margin-left: 5rem;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.hero-info {
    padding-left: 2rem;
    margin-right: 1rem;
}

.hero-title {
    font-size: 3.5rem;
    margin: 0;
    color: white;
}

.hero-description {
    font-size: 1.2rem;
    margin: 0;
    color: #f0f0f0;
    margin-top: 10px;
}

.hero-description a {
    text-decoration: underline;
}


/* Tablet and small screens */
@media screen and (max-width: 900px) {
    .image-carousel {
        height: 400px;
    }
    .logo-info-container{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        align-items: start;
        margin-left: 0;
    }
    .hero-logo {
        height: 250px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .hero-info {
        text-align: left;
        padding-left: 0;
    }
    .hero-title{
        font-size: 3rem;
        text-align: left;
    }
    .hero-description {
       font-size: 1.1rem;
       text-align: left;
    }

}

/* Mobile */
@media screen and (max-width: 480px) {
    .hero-title{
        font-size: 2.5rem;
    }
    .logo-info-container {
        align-items: center;
        padding: 12px;
        margin-left: 0;
    }
    .hero-logo {
        height: 200px;
        margin-bottom: 15px;
        margin-top: 1rem;
    }
    .hero-info {
        text-align: left;
        padding-left: 0;
    }
    .hero-title{
        text-align: center;
    }
}