body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f0f0f0;
    overflow-x: hidden;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.9);
    padding-left: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
}

.logo {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.logo img {
    height: 70px;
    margin: 0;
}

.logo a {
    font-weight: bold;
    font-size: 22px;
}

.logo-bmx {
    color: #FFD700;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

nav ul li a {
    position: relative;
    display: inline-block;
    color: inherit;
    padding-bottom: 2px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

nav ul li a.active {
    color: #FFD700;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Hide the dropdown by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
    flex-shrink: 0;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    margin-right: 20px;
}

.social-icons a {
    font-size: 1.5rem;
}

.contact-button {
    background-color: #960096;
    border-radius: 5px;
    padding: 10px 12px;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
}

.hamburger-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.image-carousel {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.image-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-carousel img.active {
    opacity: 1;
}

.logo-info-container {
  display: flex;
    align-items: center;
    padding: 40px 20px;
    justify-content: center;
     margin-left: -3%;
}

.hero-logo {
    height: 330px;
    margin-left: 5%;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   flex-shrink: 0;
}

.hero-info {
    flex: 0 0 45%;
    padding-left: 8%;
}

.hero-title {
    font-size: 3.5rem;
    margin: 0;
    color: white;
}
.hero-description {
     font-size: 1.2rem;
    margin: 0;
    color: #f0f0f0;
    margin-top: 10px;
}
.hero-description a {
    text-decoration: underline;
}


/* Tablet and small screens */
@media screen and (max-width: 768px) {
    .social-icons {
        display: none;
    }

    nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #222;
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 10px 20px;
        text-align: center;
    }

    .hamburger-icon {
        display: block;
    }

    nav.active {
        height: auto;
    }
}
/* Mobile */
@media screen and (max-width: 480px) {
    .hero-title{
        font-size: 2.5rem;
    }
    .social-icons{
        display: none;
    }
       .logo-info-container {
          flex-direction: column;
          align-items: center;
      margin-left: 0;

      }
        .hero-logo {
             margin-left: 0;
            margin-right: 0;
            margin-bottom: 15px;

        }
         .hero-info {
            padding-left: 0;
              text-align: center;

        }
}